$navbar-height: 50px;
$page-title-height: 15vh;

$theme-color-main: lightseagreen;
$theme-color-main_button-hover: rgb(0, 222, 211);
$theme-color-darker: rgb(0, 30, 60);
$theme-color-container: rgba(0, 32, 64, 0.115);

$title-container-height: 70px;
