$navbar-height: 50px;
$page-title-height: 15vh;

$theme-color-main: lightseagreen;
$theme-color-main_button-hover: rgb(0, 222, 211);
$theme-color-darker: rgba(18, 111, 106, 0.38);
$theme-color-container: rgb(236, 236, 236);
