$navbar-height: 50px;
$footer-height: 0px;
$page-title-height: 15vh;

$content-height: calc(100vh - $navbar-height - $page-title-height);
$landing-height: calc(100vh - $navbar-height);

$theme-color-main: lightseagreen;
$theme-color-main_button-hover: rgb(0, 222, 211);
$theme-color-darker: rgb(0, 30, 60);
$theme-color-container: rgba(0, 32, 64, 0.115);

$title-container-height: 70px;
