.NewSighting {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  h2,
  h3,
  p {
    padding: 0;
    margin: 0;
  }
  h3 {
    text-align: center;
  }
  .left-column {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      #sighting-photo-upload {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      textarea {
        min-height: 250px;
        max-height: 250px;
        min-width: 100%;
        max-width: 100%;
        border: none;
      }
      .datetime-wrapper {
        display: flex;
      }
    }
  }
  .right-column {
    width: 40vw;
    margin-left: 20px;
    .leaflet-container {
      margin-top: 3px;
      width: 100%;
      height: 100%;
      border-radius: 0px 0px 10px 10px;
    }
  }
}
