.UserProfile {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  p,
  h2,
  h3 {
    margin: 0;
  }
  .leaflet-container {
    margin-top: 3px;
    width: 500px;
    height: 500px;
    border-radius: 0px 0px 10px 10px;
  }
  .right-column {
    width: 500px;
  }
}
