@import '../variables';

.button-style-1 {
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 110%;
  padding: 15px;
  background-color: $theme-color-main;
  &:hover {
    cursor: pointer;
    background-color: rgb(0, 129, 123);
    color: white;
  }
}
.button-style-2 {
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 110%;
  padding: 15px;
  background-color: $theme-color-main;
  &:hover {
    cursor: pointer;
    background-color: rgb(0, 129, 123);
    color: white;
  }
}
.button-style-small {
  border-radius: 10px;
  border: none;
  font-size: 70%;
  padding: 5px;
  background-color: $theme-color-main;
  margin-right: 3px;
  &:hover {
    cursor: pointer;
    background-color: rgb(0, 129, 123);
    color: white;
  }
  &:disabled {
    cursor: default;
    border: .25px solid lightgray;
    background-color: white;
    color: rgb(105, 105, 105);
  }
}
